{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.pug", "*.html", "*.css", "*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
