
h1.project-name Enrich Party Pandemonium
h2.project-tagline party customer grouping algorithm

a#gh-index.btn(href='https://github.com/codegitpro/pandemonium') View on GitHub
a#gh-zip.btn(href='https://github.com/codegitpro/pandemonium/zipball/master') Download .zip
a#gh-tar.btn(href='https://github.com/codegitpro/pandemonium/tarball/master') Download .tar.gz