block append footer-section
	footer.site-footer
		span.site-footer-owner
			a(href='https://github.com/sbolel/express-pug-starter') Enrich Party Pandemonium
				| &nbsp;is maintained by&nbsp;
			a(href='https://github.com/sbolel') Codegitpro
				| .