//- main layout pug
//- @includes: contact,price, landing pages
//- ...
extends ./base.layout.pug

include ./sections/metas.section.pug
include ./sections/styles.section.pug
include ./sections/header-scripts.section.pug
include ./sections/header.section.pug
include ./sections/footer.section.pug
include ./sections/footer-scripts.section.pug